# Django settings

# Generate your own secret key for production
SECRET_KEY=change-me

# Development: True
# Production: False
DEBUG=True

# Comma separated hosts
# Example production:
# coderr.frank-meckel.de
ALLOWED_HOSTS=127.0.0.1,localhost


# Database
# SQLite database file
DATABASE_NAME=db.sqlite3